:root {
    --bg: #232323;
    --nb_bg: #3F4045;
    --nb_active: #1D8AC1;
    --nb_active_hover: #339DDA;
    --nb_hover: #3b3b49;

    --courier: 'Courier New', Courier, monospace;
    --lucida: "Lucida Console", "Courier New", monospace;
}

* {
    font-family: var(--lucida);
    font-size: 18px;
    background-color: var(--bg);
    color: white;
    text-decoration: none;
}

.navbar {
    padding: 1% 0 0 0;
    margin: 0%;
    text-align: center;
    width: 100%;
    background-color: var(--nb_bg);
    overflow: hidden;
}

.navbar a {
    padding: 1% 6%;
    border-style: inset;
}

.navbar a.github {
    float: right;
    padding: 0;
    margin: 0;
    border-style: none;
    background-color: var(--nb_bg);
}

.navbar a.linkedin {
    float: left;
    padding: 0;
    margin: 0;
    border-style: none;
    background-color: var(--nb_bg);
}

.navbar a.active {
    background-color: var(--nb_active);
    border-style: outset;
}

.navbar a:hover {
    background-color: var(--nb_hover);
}

.navbar a.active:hover {
    background-color: var(--nb_active_hover);
}

.main {
    margin: 2% auto;
    width: 60%;
    border-style: outset;
    padding: 1%;
    text-align: center;
    overflow: hidden;
}

.main h1 {
    font-size: larger;
}

.main p {
    text-align: justify;
    padding: 0 2%;
    line-height: 150%;
}

.profile img {
    float: right;
    height: 30%;
    width: 30%;
    margin: 2%;
}

.link {
    text-decoration: underline;
    color: var(--nb_active);
}