:root {
    --bg: #232323;
    --nb_bg: #3F4045;
    --nb_active: #1D8AC1;
    --nb_active_hover: #339DDA;
    --nb_hover: #3b3b49;

    --courier: 'Courier New', Courier, monospace;
    --lucida: "Lucida Console", "Courier New", monospace;
}

* {
    font-family: var(--lucida);
    font-size: 18px;
    background-color: var(--bg);
    color: white;
    text-decoration: none;
}

.navbar {
    padding: 1% 2%;
    text-align: center;
    background-color: var(--nb_bg);
}

.navbar a {
    padding: 1% 6%;
    border-style: inset;
}

.navbar a:hover {
    background-color: var(--nb_hover);
}

.navbar a.active {
    background-color: var(--nb_active);
    border-style: outset;
}

.navbar a.active:hover {
    background-color: var(--nb_active_hover);
}

.navbar a.github {
    float: right;
    padding: 0;
    margin: auto 0;
    border-style: none;
}

.navbar a.linkedin {
    float: left;
    padding: 0;
    margin: 0;
    border-style: none;
}

.main {
    margin: 2% auto;
    width: 60%;
    border-style: outset;
    padding: 0.5%;
}

.main h1 {
    text-align: center;
    font-size: larger;
}